.jumbotron-fluid{
background-image: url('../img/download.jpg');
    background-size: cover;
 height: 40vh;
   
/*    width: 100%;*/
  
    
}
#avatar{
    height: 20vh;
    
}
.container{
    width: 80%;
}
.fab{
    font-size: 3rem;
}
.fa-html5{
    color:coral;
}
.fa-database{
    font-size: 3rem;
    color: yellowgreen;
}
.fa-js{
    color: forestgreen;
}
.fa-python{
    color: brown;  
}
.fa-sass{
    color: cornflowerblue;
}
.fa-css3-alt{
    color: darkseagreen;
}
.p{
    font-size: 2.5rem;
}
